@media (max-width:650px) {
    .nav-fixed,
    .first-screen .nav {
        padding: 3px 15px;
    }

    .f-menu,
    .menu a {
        width: 25px;
    }

    .f-menu a,
    .menu a,
    #f-name,
    #name {
        float: left;
        font-size: 1.5rem;
        line-height: 1.5;
    }
}