<link rel="stylesheet" href="../CSS/common//global.css">
<link rel="stylesheet" href="../CSS/component/footer.css">
<link rel="stylesheet" href="../CSS/component/footer-sm.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<footer>
    <div class="container row">
        <div class="col-3"><img src="../img//2-3.jpg" alt="#"></div>
        <div class="col-5">
            <span class="title">因为守望，</span>
            <span class="text">不诉离殇。</span>
        </div>
        <div class="col-4">
            <div class="head">了解更多</div>
            <div class="link-grounp">
                <a href="#"><img src="../img/footer-phone.png"></a>
                <a href="#"> <img src="../img/footer-qq.png"></a>
                <a href="#"><img src="../img/footer-weixin.png"></a>
                <a href="#"><img src="../img/footer-email.png"></a>
                <a href="#"><img src="../img/footer-gay.png"></a>
            </div>
        </div>
    </div>
</footer>