body {
    font-family: sans-serif;
}

.row {
    font-size: 0;
}

.col-2,
.col-3,
.col-4,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
}

.col-4 {
    width: 40%;
}

.col-2 {
    width: 20%;
}

.col-6 {
    width: 60%;
}

.col-8 {
    width: 80%;
}

.col-3 {
    width: 30%;
    background: rgba(0, 0, 0, .05);
    margin-right: -8px; 
}

.col-7 {
    width: 70%;
    padding-right: 16px;
    margin-left: -8px;
}

.col-10 {
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.top {
    background: #0b70bd;
}

.rg {
    text-align: right;
}

h1 {
    color: aliceblue;
    line-height: 130px;
    font-weight: 666;
    margin: 0;
    font-size: 2.5rem;
    width: 40%;
}


#img {
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 50%;
    background-image: url(./1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /* margin-left: 60%; */
}

ul {
    color: rgba(0, 0, 0, .6);
}

.top .container * {
    display: inline-block;
    vertical-align: middle;
}

.title-1,
.title {
    color: #0b70bd;
    font-weight: 666;
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom:1px solid rgba(0, 0, 0, .1);
}

.col-7 .content .text * {
    margin-right: 14%;
    padding-top: 15px;
    padding-left: 5%;
    line-height: 1.5;
    color: rgba(0, 0, 0, .7);
}
.col-7 .content .text-1 * {
    margin-right: 11%;
}

.col-3 .title:first-child {
    margin-top: 25px;
}

.col-3 i {
    width:10%;
    height: 20px;
    text-align: center;
}

.practice .list > *,
.dete .description span {
    padding: 15 0 0 25px;
}

.dete .description span,
.description span a {
    color: #0b70bd;
}

.dete .description span {
    display: block;    
}

.practice .list .intro * {
    display: inline-block;
    vertical-align: middle;    
}

.list .intro .text {
    color: rgba(0, 0, 0, .6);
}

.z,
.x,
.xxxx {
    height: 10px;
    background: #0b70bd;
}

.xxxx {
    width: 100%;
}

.x {
    width: 25%;
}

.intro .col-8 {
    border: 1px solid #0b70bd;
}

.a-icon {
    background-position: center;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    width: 10px;
    height: 10px;
}
