<div class="first-screen">
    <div class="nav">
        <div class="container row">
            <div class="menu fr">
                <a href="#">
                    <img src="./img/menu.png">
                </a>
            </div>
            <div id="name">李飒</div>
        </div>
    </div>

<!-- ===写在首屏下面，划过首屏开始出现定位在屏幕的导航==== -->

    <div class="nav-fixed row">
        <div class="f-menu fr">
            <a href="#">
                <img src="./img/menu1.png">
            </a>
        </div>
        <div id="f-name" class="col-2">李飒</div>
    </div>